<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>60c89d0db5b1daa7b35cb39fc8f319ecfcebc3dbf01d0da12db5a3e80e973220</string>
	<key>Server</key>
	<string>https://iosapp-79f32466d1df.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<true/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
